---
import './../style/zero-style.scss'
import './../style/font.scss'
import './../style/style-global.scss'
import Layout from "../layouts/Layout.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Fox world</title>
</head>
<body class="project">
<Layout>

</Layout>
</body>
</html>